<h2>Pick a data set</h2>
<%= form_tag(data_menu_pick_data_submit_path(:data_id), method: 'get') do %>
	<%= select_tag(:data_id, options_from_collection_for_select(@dt, 'id','name', @selected_dt)) %>
	<br>
	<%= submit_tag("Pick it!") %>

<% end %>