<div class="col-xs-3">
	<%= render "pick_data_partial" %>
</div>

<div class="col-xs-3">
	<%= render "pick_range_partial" %>
</div>

<div class="col-xs-3">
	<%= render "pick_correlation_partial" %>
</div>