<div class="col-md-offset-1 col-md-10">
	<div class="row center">
		<div class="col-md-6">
			<h2>Explore</h2>
			<%= link_to image_tag('dwarf_explore.png'), explore_path, class: "btn btn-default btn-lg" %>
			<p>Explore existing data sets</p>
		</div>
		<div class="col-md-6">
			<h2>Analyze</h2>
			<%= link_to image_tag('dwarf_analyze.png'), analyze_path, class: "btn btn-default btn-lg" %>
			<p>Learn about a particular data set</p>
		</div>
	</div>
</div>

