<div class="col-md-offset-1 col-md-10">
	<div class="row center">
		<div class="col-md-6">
			<div class="btn btn-default btn-lg">
				<h3>Explore</h3>
				<a href="/explore" class="dig-button explore-anim"></a>
			</div>
			<p>Explore some existing data sets</p>
		</div>
		<div class="col-md-6">
			<div class="btn btn-default btn-lg">
				<h3>Analyze</h3>
				<a href="/analyze" class="dig-button analyze-anim"></a>
			</div>
			<p>Learn about a particular data set</p>
		</div>
	</div>
</div>

