<div class="col-md-offset-1 col-md-10">
	<div class="row center">
		<div class="col-md-6">
			<h2>Explore</h2>
			<a href="/explore" class="dig-button explore-anim"></a>
			<p>Explore some existing data sets</p>
		</div>
		<div class="col-md-6">
			<h2>Analyze</h2>
			<a href="/analyze" class="dig-button analyze-anim"></a>
			<p>Learn about a particular data set</p>
		</div>
	</div>
</div>

