	<h2>*Data Title*</h2>
	<p>Data available from</p>
	<br>
	<p>Range: *start* - *end*</p>
	<%= form_tag do %>
		<%= number_field_tag('start_year') %>
		<br>
		<%= number_field_tag('end_year') %>
	<% end %>