<% content_for(:range_menu) do %>
	<h2>*Data Title*</h2>
	<p>Data available from</p>
	<br>
	<p>Range: *start* - *end*</p>
	<%= form_tag do %>
		
		<!--<%= select_tag(:data_id, options_from_collection_for_select(@ts, 'id','year')) %> -->
<% end %>
