<%= content_tag "div", id: "test", data:{dt: @data_type, id: @selected_dt, dt2: @data_type2, id2: @selected_dt2, year: @num, year2: @num2} do %>

<%end%>

<%= javascript_include_tag "graph.js" %>

<svg id="line_chart1" width="1000" height="500"></svg>

<svg id="line_chart2" width="1000" height="500"></svg>

<p id = "non_norm_graph" width = "100" height="10">Non-Normalized Graph</p>

<svg id="line_chart3" width="1000" height="500"></svg>

<p id = "norm_graph" width = "100" height="10">Normalized Graph</p>

<svg id="line_chart4" width="1000" height="500"></svg>

<svg id="line_chart5" width="1000" height="500"></svg>

<svg id="line_chart6" width="1000" height="500"></svg>
