/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require nvd3-rails
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import url(http://fonts.googleapis.com/css?family=Roboto)

$lighter-gray: #D7D7D7
$light-gray: #666
$dark-gray: #444
$orange: #C1731B
$dark-orange: #AA641B
$lighter-brown: #2A2121
$light-brown: #382F2F
$dark-brown: #201717//#251B1B
$yellow-white: #F0E285	

body
	font-family: 'Roboto', sans-serif
	color: $dark-brown
	background-color: $lighter-gray

.center 
	text-align: center

h1, h2
	//font-family: 'Fugaz One', cursive
	letter-spacing: -1px

h1
	font-size: 3em

h2
	font-size: 2.5em

p
	padding-top: 5%

td
	padding-right: 20px

/*** Top navbar ***/

nav
	height: 61px

.nav
	li
		a
			&:link, &:visited
				text-decoration: none
				background-color: transparent
				color: $orange
			&:hover, &:active
				text-decoration: none
				background-color: transparent
				color: $yellow-white

.navbar-custom-dither
	//background-image: url(image_path('header-tile.png'))
	background-color: $dark-brown
	border-width: 0px 0px 20px 0px
	border-image: url(image_path('header-tile.png')) 0 0 20 0 repeat

	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box
	-moz-background-clip:    padding
	background-clip:         padding-box

.navbar-brand
	background-image: url(image_path('datadwarf-logo.png'))
	width: 204px
	height: 30px
	margin-top: 8px



#welcome
	margin-top: 10%

#logo
	display: block
	background-image: url(image_path('rs_dwarf.png'))
	background-size: 70px
	background-repeat: no-repeat
	background-position: center
	height: 85px
	padding-top: 90px
	margin-bottom: 30px

/*** Main content container ***/

#main-container
	padding-top: 90px

#main-container
	a
		&:link, &:visited
			text-decoration: none
			background-color: transparent
			color: $dark-orange
		&:hover, &:active
			text-decoration: none
			background-color: transparent
			color: $yellow-white

#heatmap-chart 
	margin-left:auto 
	margin-right:auto
	display:block