// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome
	position: relative
	overflow: visible
	&::before
		content: ' '
		display: block
		position: absolute
		left: -950px
		top: -155px // May need to change this to change the background of welcome
		width: 1000%
		height: 700px // May need to change this to change the background of welcome
		z-index: -1
		background-image: url(image_path('Chasm.jpg')) // Change this to change the background of welcome
		background-repeat: no-repeat
		background-position: 50% 0
		-ms-background-size: contain
		-o-background-size: contain
		-moz-background-size: contain
		-webkit-background-size: contain
		background-size: contain
	&:link::before, &:visited::before
		-webkit-filter: blur(6px) opacity(0.3)
		filter: blur(6px) opacity(0.3)
		-webkit-transition : -webkit-filter 1000ms ease
	&:hover::before, &:active::before
		-webkit-filter: blur(0px) opacity(1.0)
		filter: blur(0px) opacity(1.0)
		-webkit-transition : -webkit-filter 1000ms ease